@import url('./elements.css');

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/foggy_forest.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(15px);

  padding: 2em;
  margin-left: 5vw;
  width: 600px;
  height: calc(100vh - 4em);
}

.about {
  display: grid;
  width: 100%;
  
  grid-template-columns: 10em calc(100% - 10em);
  grid-template-rows: 6em 6em;
}
.about > #avatar {
  grid-column: 1;
  grid-row: span 2;
  height: 10em;
  width: auto;
  border-radius: 50%;
}
.about > .text {
  grid-column: 2;
  grid-row: span 2;
  padding-left: 1em;
  width: auto;
  border-radius: 50%;
}
.about > .text > h1, h2 {
  text-align: center;
}

.projest-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 2;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 5px;  
}
.contacts > * {
  display: flex;
  align-items: center;
  width: 2em;
  height: 2em;
}
.contacts > a > img {
  width: 2em;
}

@media screen and (max-width: 1000px) {
  .container {
    background: rgba(165, 165, 165, 0.4);
    backdrop-filter: blur(25px);

    padding: 0.5em;
    margin: 0;
    width: calc(100% - 1em);
    height: calc(100vh - 1em);
  }

  .about {
    grid-template-columns: 100%;
    grid-template-rows: 11em 10em;

    flex-grow: 2;
  }
  .about > #avatar {
    margin: auto;
    grid-column: 1;
    grid-row: 1;
    height: 10em;
  }
  .about > .text {
    grid-column: span 2;
    grid-row: 2;
  }
}