* {box-sizing: border-box;}
body { 
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.calendar {
  background: #eee;
  border-spacing: 0px;
  width: 90vw;
  height: 80vh;
  margin: 5% auto;
  box-shadow: 0 10px 2.5rem rgb(27, 64, 94);
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 15px;
  }

  .calendar {
    width: 40%;
    height: 35rem;
    margin: 5% auto;
  }

  .info_row .text {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 15px;
  }
}

.calendar td {
  display: table-cell;
  text-align: center;
  width: 14%;
  color: #777;
}

.info_row {
  height: 7vh;
  background: #1abc9c;
  color: white;
}

.info_row .button {
  transition: background-color 0.5s;
  background-color: #00000000;
  border: none;
  color: white;
  font-size: large;
  height: 98%;
  width: 95%;
}

.info_row .button:hover {
  background-color: #c9c9c986;
  border-style: solid;
  border: 0px;
  border-radius: 5px;
}

.info_row .text {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 40px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#year {
  color: #777;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  transition: transform 1s, color 1s;
}

#year:focus {
  outline: none;
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

.weekdays {
  margin: 0;
  height: 7%;
  background-color: #ddd;
}

.weekdays td {
  letter-spacing: 2px;
  color: #666;
}

.day_elem {
  transition: background-color 0.7s;
}

.day_elem:hover {
  transition: background-color 0.2s;
  background-color: #c9c9c9b2;
}

.active {
  background: #1abc9c;
  color: white !important
}