* {box-sizing: border-box;}
body { font-family: Verdana, sans-serif; }

.calendar {
  background: #eee;
  border-spacing: 0px;
  width: 40%;
  height: 35rem;
  margin: 5% auto;
  box-shadow: 0 10px 2.5rem rgb(27, 64, 94);
}

.calendar td {
  text-align: center;
  font-size:12px;
  width: 14%;
  color: #777;
}

.info_row {
  background: #1abc9c;
  color: white;
}

.info_row .button {
  transition: background-color 0.5s;
  background-color: #00000000;
  border: none;
  color: white;
  font-size: 25px;
  height: 98%;
  width: 95%;
}

.info_row .button:hover {
  background-color: #c9c9c986;
  border-style: solid;
  border: 0px;
  border-radius: 5px;
}

.info_row .text {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  letter-spacing: 3px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#year {
  color: #777;
  border: 0px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0);
  transition: transform 1s, color 1s;
}

#year:focus {
  outline: none;
  color: #666;
  transform: scale(1.5);
}

.weekdays {
  margin: 0;
  height: 7%;
  background-color: #ddd;
}

.weekdays td {
  font-size:14px;
  letter-spacing: 2px;
  color: #666;
}

.day_elem {
  transition: background-color 0.7s;
}

.day_elem:hover {
  transition: background-color 0.2s;
  background-color: #c9c9c9b2;
}

.active {
  background: #1abc9c;
  color: white !important
}