* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

body {
  width: 100vw;
  height: 100vh;
}

/***
 * ANIMATIONS
 ***/

 @keyframes scaling {
   0% {
     transform: scale(0);
     opacity: 0;
   }

   100% {
    opacity: 1;
    transform: scale(1);
   }
 }

/***
 * TEXT
 ***/

.title {
  color: #555;
  font-size: 25px;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.text {
  color: #666;
  font-size: 2vh;
}

/***
 * SENDING MESSAGE FORM
 ***/

#panelMessageSending {
  position: fixed;
  width: fit-content;
  height: fit-content;
  margin: calc(50vh - 11.5vh) 10vw;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 10px 2.5rem rgb(27, 64, 94);
}

#titleMessgeSending {
  top: 0;
  background: #1abc9c;
  height: fit-content;
  width: 25vw;
  padding: 0.5vh 0;
  margin: 0.5vh 0;
  margin-top: 0;
}

#inputElementName::placeholder, #inputElementMessage::placeholder {
  color: #555;
  padding: 0;
  text-transform: uppercase;
  text-align: center, justify;
  letter-spacing: 3.5px;
}

.textInput, .button {
  text-align: justify;
  display: block;
  height: 2.5vh;
  width: 23vw;
  margin: 0 auto;
  margin-bottom: 1vh;
  outline: 0;
  border-width: 2px;
  background-color: #FFF;
  border-style: solid;
  border-color: rgb(94, 94, 94);
  font-size: 2vh;
  background-color: rgba(255, 255, 255, 0);
}

.textInput:focus {
  color: #000;
  border-color: #FFF #FFF rgb(0, 0, 0) #FFF !important
}

#inputElementName {
  margin-top: 1vh !important;
}

#inputElementMessage {
  resize: none;
}

#inputElementMessage:focus {
  height: 15vh;
}

.button {
  text-align: unset !important;
  cursor: pointer;
}

#inputElementSendMessage {
  animation-name: scaling;
  animation-duration: 0.4s;
  display: inline-block;
  width: calc(2.5vh + 4px);
  height: calc(2.5vh + 4px);
  margin-left: calc(1vw - 2px);
}

#inputElementSendMessage:hover {
  background-color: #c9c9c986;
  border-radius: 5px;
}

#labelSendMessage {
  animation-name: scaling;
  animation-duration: 0.4s;
  letter-spacing: 3px;
  display: inline-block;
  margin-left: 7px;
}

/***
 * MESSAGES DISPLAY
 ***/

.author {
  display: inline-block;
  border: 0px;
  border-radius: 10px;
  border-color: #d5d5d5;
  background-color: #ededed;
  padding: 10px;
  margin: 0px 10px;
}

.data {
  display: inline-block;
  padding: 10px;
  margin: 0px 1px;
}

.messageBox {
  margin: 5px;
}

#panelMessagesDiaplay {
  overflow-y: scroll; 
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 100%;
  margin-left: 45vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
#panelMessagesDiaplay::-webkit-scrollbar {
  width: 10px;
}
 
/* Track */
#panelMessagesDiaplay::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#panelMessagesDiaplay::-webkit-scrollbar-thumb {
  background: #888; 
}
 
/* Handle on hover */
#panelMessagesDiaplay::-webkit-scrollbar-thumb:hover {
  background: #555; 
}